*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



/* header */

header{
    display: flex; 
    justify-content: space-around;
    margin-top: 15px;
    margin: 15px 0 20px 0;
    align-items: center;
}
li{
    list-style: none;
    color: hsl(219, 9%, 45%);
    cursor: pointer;
  
}
.desktop-nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.desktop-nav ul{
    display: flex;
    gap: 20px;
}

.avatar{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.avatar:hover{
    border: 2px solid orange;
}
.cart{
    display: flex;
    height: fit-content;
}
.line{
    width: 70px;
    height: 5px;
    background-color:  hsl(26, 100%, 55%);
    
}


.itemnum{
    display: flex;
}
.itemnum p{
    background-color: orange;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: .6em;
    color: white;
    text-align: center;
    position: relative;
    right: 15px;
    top: 5px;
}

.mobile-nav{
    display: none;
}
.menu-icon{
    cursor: pointer;
    display: none;
}
.close-icon{
    display: none;
    cursor: pointer;
    margin-bottom: 30px;
}
.mobile-nav{
    display: block;
    background-color: white;
    width: 265px;
    height: 100vh;
    padding: 30px;
    margin-left: 40px;
    position: relative;
    bottom: 75px;
    right:330px;
    transition: ease-out .5s;
    display: none;
    z-index: 30;
    
}
.mobile-nav ul li{
    font-weight: bolder;
    font-size: 1.2em;
   color: hsl(220, 13%, 13%);
   padding-bottom: 20px;
}

/* cart */
.cart-items{
    background-color: red;
    width: 300px;
    height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: absolute;
    right: 20px;
    padding: 20px;
    display: none;
  
}
.cart-items hr{
    width: 290px; 
    padding-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    right: 15px;
}
.cart-items p:nth-child(3){
    text-align: center;
    padding-top: 40px;
    font-size: 1.4em;
}
.cart-icon{
    cursor: pointer;
}

/* classlist */
.nav-open{
    position: relative;
   right: 50px;
   transition: all.5s;
}
.cart-open{
    display: block;

}








/* mobile  */
@media (max-width:675px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    body{
        background-color: red;
    }
    hr{
        display: none;
    }
    .menu-icon, .mobile-nav, .close-icon, .mobile-nav{
        display: block;
    }
    .desktop-nav li{
        display: none;
    }
    .cart-items{
        position: absolute;
        width: 500px;
        top: 100px;
        left: 40px;
    }
   
  
   
 }

