*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}




/* header */

header{
    display: flex; 
    justify-content: space-around;
    margin-top: 15px;
    margin: 15px 0 20px 0;
    align-items: center;
}
li{
    list-style: none;
    color: hsl(219, 9%, 45%);
    cursor: pointer;
  
}
.desktop-nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.desktop-nav ul{
    display: flex;
    gap: 20px;
}

.avatar{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.avatar:hover{
    border: 2px solid orange;
}
.cart{
    display: flex;
    height: fit-content;
}
.line{
    width: 70px;
    height: 5px;
    background-color:  hsl(26, 100%, 55%);
    
}


.itemnum{
    display: flex;
 
}
.itemnum p{
    background-color: orange;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: .6em;
    color: white;
    text-align: center;
    position: relative;
    right: 15px;
    top: 5px;

}

.mobile-nav{
    display: none;
}
.menu-icon{
    cursor: pointer;
    display: none;
}
.close-icon{
    display: none;
    cursor: pointer;
    margin-bottom: 30px;
}
.mobile-nav{
    display: block;
    background-color: white;
    width: 265px;
    height: 100vh;
    padding: 30px;
    margin-left: 40px;
    position: relative;
    bottom: 75px;
    right:330px;
    transition: ease-out .5s;
    display: none;
    z-index: 30;
    
}
.mobile-nav ul li{
    font-weight: bolder;
    font-size: 1.2em;
   color: hsl(220, 13%, 13%);
   padding-bottom: 20px;
}

/* cart */
.cart-items{
    width: 400px;
    height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;    position: absolute;
    left: 800px;
    top: 80px;
    padding: 20px;
    display: none;
    z-index:20;
    background-color: white;
   
  
}

.cart-items hr{
    width: 290px; 
    padding-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    right: 15px;
}
.cart-items p:nth-child(3){
    text-align: center;
    padding-top: 40px;
    font-size: 1.4em;
}
.cart-icon{
    cursor: pointer;
}

/* classlist */
.nav-open{
    position: relative;
   right: 50px;
   transition: all.5s;
}
.cart-open{
    display: block;
}


/* active cart */
.cart-img{
    width: 60px;
}
.itemincart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 290px;
    margin-left: 60px;
}
.cart-items button{
    height: 50px;
    margin:40px 60px ;
}
.delete-icon{
    cursor: pointer;
}
.empty-cart{
    
}




/* main */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 120px;
}
.main-product img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin-top: 30px;
}
.products{
    display: flex;
    gap: 25px;
    margin-top: 20px;
    width: 400px;
}
.products img{
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}
.products img:hover{
    border: 3px solid  hsl(26, 100%, 55%);
    transition: all .5s;
    transform: scale(1.1);
    
}
.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description > p:nth-child(1){
    color:  hsl(26, 100%, 55%);
    font-size: .9em;
}
.description h1{
    width: 290px;
}
.description > p:nth-child(3){
    color: hsl(219, 9%, 45%);
    width: 390px;
    line-height: 1.4em;
}
.price{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.price p:first-of-type{
    font-size: 1.6em;
    font-weight: 600;
}
.price p:nth-child(2){
    color: hsl(26, 100%, 55%);
    background-color:  hsl(25, 100%, 94%);
    width: 40px;
    height: 20px;
    padding-top: 2px;
    text-align: center;
    font-weight: 600;
    font-size: .9em;
    
}
.price span{
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    font-weight: 600;
}
.add-container, .add{
    display: flex;
    gap: 20px;
}
.add{
    background-color: hsl(223, 64%, 98%);
    height: 40px;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}
.addtocart-btn{
    background-color: hsl(26, 100%, 55%);
    width: 260px;
    border-style: none;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.addtocart-btn img{
   width: 15px;
   filter: brightness(0) invert(1);
}
.addtocart-btn:hover{
    background-color: hsl(25, 100%, 94%);
}
.plus-icon, .minus-icon{
    cursor: pointer;
}

.creator span{
    color: hsl(26, 100%, 55%);
}
.creator{
    margin-top: 100px;
   display: flex;
   justify-content: center;
}



/* mobile  */
@media (max-width:675px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  
    body{
       height: 160vh;
    }
    /* header */
    hr{
        display: none;
    }
    .menu-icon, .mobile-nav, .close-icon, .mobile-nav{
        display: block;
    }
    .desktop-nav li{
        display: none;
    }
    .cart-items{
        position: absolute;
        width: 500px;
        top: 100px;
        left: 40px;
    }

    /* main */
    main{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 860px;
    }

    .main-product img{
        width: 100%;
        height: 100%;
    }
    .products{
        margin-left: 70px;
    }
    .creator{
        position: relative;
        bottom: 940px;
    }
   
  
   
   
  
   
 }

